/*
Title: Image Map Independent Project
Author: Shaun Jordan
Date: 5-MAR-2017
Filename: index.html
*/

/* page fonts/background image */
#home {
    background: url("../images/location.jpg") no-repeat center;
    background-size: cover;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* heading section */
h1 {
    text-align: center;
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: 700;
    font-size: 3em;
}

/* image map section */
figure {
    display: table;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
}

img.mainimage {
    border: 8px solid rgba(0,0,0, 0);
    border-radius: 25px;
    max-width: none;
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.50);
}

/* content sections */
.info {
    max-width: 800px;
    margin: 4em auto;
}

p.content {
    line-height: 175%;
    font-weight: bold;
    background-color: rgba(255,255,255,0.3);
}

/* tables section */
table, td {
    border-collapse: collapse;
    border: 2px solid #000;
    margin: 0 auto;
}

td {
    padding: 5px;
}

img.planetzoom {
    width: 175px;
    height: 175px;
    margin: 2em auto;
    display: block;
}

/* links section */
a {
    text-decoration: none;
    color: #00008b;
    font-weight: bold;
}

.outsidelinks {
    text-align: center;
    margin-top: 4em;
    line-height: 50%;
}

a:hover {
    font-size: 1.3em;
}

a:visited {
    color: #8b008b;
}

/* footer section */
footer {
    margin-top: 10em;
    margin-bottom: 1.5em;
    text-align: center;
    font-size: .90em;
}
