/*
Title: Image Map Independent Project
Author: Shaun Jordan
Date: 5-MAR-2017
Filename: index.html
*/

h1 {
    text-align: center;
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: 700;
    font-size: 3em;
}

/* image map */
figure {
    display: table;
    margin: 0 auto;
}

figcaption {
    text-align: right;
}

img {
    border: 10px solid rgba(0,0,0, 0.9);
    max-width: none;
}

/* article section*/
.info {
    max-width: 35%;
    margin: 4em auto;
}

article {
    background: url("images/background.jpg");
    
}

article p {
    line-height: 150%;
    font-family: 'Open Sans', sans-serif;
}

article p:last-child {
    text-align: center;
    font-weight: 600;
    margin-top: 2.5em;
}

/* tables */
table, td {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
}

td {
    padding: 5px;
}

/* links */

a {
    text-decoration: none;
}

.outsidelinks {
    text-align: center;
    margin-top: 4em;
}

/* footer */
footer {
    position: absolute;
    right: 0;
    bottom: 1em;
    left: 0;
    text-align: center;
}
